<section>
    <form (submit)="onSubmit($event)">
        <input type="text" name="filter" placeholder="Search a club" #filter>
        <button type="submit" (click)="filterResults(filter.value)">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <div class="section-container">
        <label for="letterFilter">Filter by First Letter:</label>
        <select id="letterFilter" (change)="filterByLetter($event)">
            <option value="">All</option>
            <option *ngFor="let letter of letters" [value]="letter">{{ letter }}</option>
        </select>

        <label for="countryFilter">Filter by Country:</label>
        <select id="countryFilter" (change)="filterByCountry($event)">
            <option value="">All</option>
            <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
        </select>
    </div>
    <section class="content">
        <app-content *ngFor="let clubList of filteredClubList" [clubList]="clubList"></app-content>
    </section>
    <p *ngIf="filteredClubList.length === 0 && filter.value" class="not-found">Club Not Found</p>
</section>