<h2>Clubs Management</h2>
<button mat-icon-button (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
        <th>Founded</th>
        <th>Stadium</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let club of clubs">
        <td>{{ club.name }}</td>
        <td>{{ club.city }}</td>
        <td>{{ club.country }}</td>
        <td>{{ club.founded }}</td>
        <td>{{ club.stadium }}</td>
        <td>
          <button mat-icon-button (click)="openDialog(club)">
            <mat-icon class="small-icon">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteClub(club.id)">
            <mat-icon class="small-icon">delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>  
  <button mat-button class="logout-button" (click)="logout()">Logout</button>
